[submodule "external_src/ea-utils"]
	path = external_src/ea-utils
	url = git://github.com/ExpressionAnalysis/ea-utils.git
[submodule "external_src/gclib"]
	path = external_src/gclib
	url = https://github.com/gpertea/gclib
[submodule "external_src/gffread"]
	path = external_src/gffread
	url = https://github.com/gpertea/gffread
#[submodule "external_src/jellyfish"]
#	path = external_src/jellyfish
#	url = https://github.com/gmarcais/Jellyfish.git
[submodule "share/kmasker/krispr"]
	path = share/kmasker/krispr
	url = https://github.com/m4rku5-5/krispr
