[submodule "external_src/ea-utils"]
	path = external_src/ea-utils
	url = https://github.com/ExpressionAnalysis/ea-utils
[submodule "external_src/gclib"]
	path = external_src/gclib
	url = https://github.com/gpertea/gclib
[submodule "external_src/gffreadi"]
	path = external_src/gffread
	url = https://github.com/gpertea/gffread
